.account {
  margin-top: 80px;
  .fade-enter-from {
    opacity: 0;
  }
  .fade-enter-to {
    opacity: 1;
  }
  .fade-enter-active {
    transition: opacity 0.5s ease;
  }
  .header-bkg {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 80px;
    background-color: #000000;
  }
  .wallpaper {
    width: 100vw;
    height: 440px;
    position: relative;
    overflow: hidden;
    &-btns {
      position: relative;
      .upload {
        cursor: pointer;
        display: flex;
        align-items: center;
        left: 0;
        width: 170px;
        transform: translateX(290px);
        span {
          margin-left: 11px;
        }
      }
      .life-btn {
        transform: translateX(-100%);
        background: linear-gradient(263.07deg, #4268bb 2.36%, #a13399 81.86%);
        color: #ffffff;
      }
      .edit {
        transform: translateX(-160px);
      }
    }
    &-btn {
      position: absolute;
      bottom: 60px;
      right: 0;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 13px 42px;
      font-size: 20px;
      line-height: 25px;
    }
    &-black-btn {
      position: absolute;
      bottom: 60px;
      right: 0;
      background-color: #171717;
      color: #ffffff;
      border-radius: 5px;
      padding: 13px 42px;
      font-size: 20px;
      line-height: 25px;
    }
  }

  #uploadWallImg,
  #uploadAccountImg {
    display: none;
  }
  .name-line {
    position: absolute;
    bottom: 3px;
    background: rgba(0, 0, 0, 0.6);
    width: 100vw;
    padding: 8px 0;
    color: #ffffff;
    transform: translateX(15px);
    p {
      transform: translateX(275px);
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
    }
  }
  .coach {
    text-align: center;
    &-info {
      display: flex;
      align-items: flex-start;
    }
    &-img {
      width: 251px;
      height: 251px;
    }
    &-flag {
      margin-left: 10px;
    }

    &-calendar {
      margin-bottom: 45px;
      h5 {
        text-align: center;
      }
    }
    .contact-btn {
      border: 1px solid #c4c4c4;
      background-color: #ffffff;
      color: #c4c4c4;
      width: 100%;
      font-size: 15px;
      line-height: 15px;
      padding: 13px;
      margin-bottom: 6px;
    }
    .proBtn {
      border: none;
      color: #ffffff;
      background: linear-gradient(264.61deg, #3172c2 0%, #d21988 100%);
    }
  }
  .page-content {
    display: flex;
    justify-content: space-between;
  }
  aside {
    max-width: 262px;
    margin-bottom: 200px;
    transform: translateY(-85px);
  }
  .img-bkg {
    position: relative;
    width: 262px;
    height: 261px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 18px;
    margin: auto;
  }

  .upload-btn {
    cursor: pointer;
    position: absolute;
    right: 10px;
    bottom: -12px;
  }

  .blog-btn {
    background: #2f2e2d;
    border-radius: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    color: #ffffff;
    padding: 13px;
  }

  /* Right part styles  */
  .right-part {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .basic-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 88px;
  }
  .form-info {
    width: 57%;
  }
  .info-box {
    display: flex;
    border-bottom: 1px solid #dedede;
    padding: 5px 0;
    font-size: 15px;
    line-height: 25px;
    text-transform: capitalize;
    & > p:first-child {
      color: #b8b8b8;
      width: 70px;
      margin-right: 77px;
    }
  }
  .subscription .info-box {
    border: none;
  }
  .social-media a {
    margin-left: 21px;
  }
  .about-part h2 {
    font-size: 30px;
    line-height: 34px;
  }
  .about-me-text {
    background-color: #f8f8f8;
    padding: 23px 15px;
    height: 255px;
  }
  /* Contact window  */
  .gray-bck {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.692);
    backdrop-filter: blur(3px);
    z-index: 50;
  }
  .window-bkg {
    position: relative;
    padding: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 558px;
    background-color: #ffffff;
  }
  .contact-window {
    background-color: #ffffff;
    padding: 28px 35px;
    position: relative;
  }
  .close {
    position: absolute;
    right: 35px;
    cursor: pointer;
  }
  .window-heading {
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 33px;
  }

  .contact-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    position: relative;
    input {
      width: 100%;
      border: none;
      border-radius: 5px;
      padding: 11px;

      &::placeholder {
        font-size: 10px;
        line-height: 25px;
        color: #95979c;
      }
    }
    textarea {
      width: 100%;
      border: none;
      border-radius: 5px;
      height: 100px;
      padding: 11px;
    }
    button {
      width: 150px;
      position: absolute;
      right: 0;
      bottom: -65px;
    }
  }
  .fieldline {
    width: 45%;
    margin-bottom: 10px;
    padding: 1px;
    background-color: #c4c4c4;
    border-radius: 5px;
    &:nth-child(5) {
      width: 100%;
      height: 102px;
    }
  }

  .thanks-text {
    text-align: center;
    padding: 50px 0;
    p {
      max-width: 390px;
      margin: auto;
      margin-bottom: 65px;
      font-size: 20px;
      line-height: 35px;
    }
    a {
      padding-left: 43px;
      padding-right: 43px;
    }
  }

  .proBtn {
    color: #ffffff;
    background: linear-gradient(264.61deg, #3172c2 0%, #d21988 100%);
  }
  .proImg {
    background: linear-gradient(264.61deg, #3172c2 0%, #d21988 100%);
    box-shadow: 0px 6px 15px 2px rgba(65, 0, 249, 0.25);
  }
  .proLine {
    background: linear-gradient(264.61deg, #3172c2 0%, #d21988 100%);
  }
  .pro-mark {
    // transform: translateY(-45px);
    margin-bottom: 12px;
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    background: -webkit-linear-gradient(
      45deg,
      rgba(210, 25, 136, 1) 10%,
      rgba(49, 114, 194, 1) 83%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .add-new {
    background: #dbdbdb;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    margin-top: 30px;
    span {
      display: inline-block;
      height: 26px;
      width: 2.5px;
      background: #cccccc;
      border-radius: 5px;
      &:nth-child(2) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 26px;
        height: 2.5px;
      }
    }
  }
  .plus {
    width: 26px;
    height: 26px;
    margin: auto;
    position: relative;
  }

  .sm-show {
    display: none;
  }
  .name-sm {
    font-weight: 700;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    margin: 14px 0;
  }
  .edit-btn {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    color: #c4c4c4;
    font-size: 15px;
    line-height: 15px;
    padding: 13px;
    margin-bottom: 6px;
    &-black {
      background-color: #171717;
      color: #ffffff;
      border: none;
    }
  }
  .big-calendar {
    margin: auto;
  }
  .small-calendar {
    display: none;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .account {
    .right-part {
      margin-left: 25px;
    }
  }
}
@media (max-width: 1030px) {
  .account {
    .sm-show {
      display: block;
    }
    .sm-hide {
      display: none;
    }
    .header-bkg {
      display: block;
    }
    .page-content {
      flex-direction: column;
    }
    aside {
      width: 100%;
      max-width: 100%;
      margin: auto;
    }

    .star-rating {
      margin-bottom: 40px;
    }
    .right-part {
      width: 100%;
      margin: 0%;
    }
    .basic-info {
      flex-direction: column-reverse;
    }
    .social-media {
      display: flex;
      justify-content: space-around;
      margin-bottom: 60px;
    }
    .edit-media {
      flex-direction: column;
    }
    .form-info {
      width: 100%;
    }
    .about-part h2 {
      font-size: 20px;
      line-height: 23px;
    }
    .about-me-text {
      background-color: #ffffff;
      height: auto;
    }
    .coach-calendar h5 {
      font-size: 17px;
    }

    .currentdate {
      font-size: 17px !important;
      margin-bottom: 0 !important;
    }
  }
}
@media (max-width: 630px) {
  .account {
    .window-bkg {
      width: 90%;
    }
  }
}
@media (max-width: 440px) {
  .account {
    .info-box > p:first-child {
      margin-right: 20px;
    }
    .contact-window {
      padding: 25px 15px;
    }
    .wallpaper {
      height: 35vh;
    }
    .small-calendar {
      display: block !important;
    }
    .big-calendar {
      display: none;
    }
    .coach-calendar h5 {
      font-size: 13px;
    }
    .currentdate {
      font-size: 13px !important;
      margin-bottom: 0 !important;
    }
  }
}
@media (max-width: 300px) {
  .account {
    .img-bkg {
      width: 100%;
      .coach-img {
        width: 100%;
        margin: auto;
      }
    }
  }
}
